body {
  background: linear-gradient(to right, #000, #1b1c20 20%, #1b1c20 80%, #000);
  color: #fff;
}

.intro {
  height: 965px;
  overflow: hidden;
  position: relative;
}

.intro .intro_particles .intro_particle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  backdrop-filter: blur(8px);
  box-shadow: inset 0px 0px 4px #ffffff7a;
  animation: glass1 25s infinite linear;
  offset: path('M1172.19-111.5c30.08,39.07,42,89.16,34,137.8-16.18,97.61-48.82,195.6-19.4,319.14C1222.33,494.78,998.33,503.67,993,677.89s385.78,296.89,426.67,96-78.23-391.11,80-488.89,414.22,167.11,480,65.78,332.44-291.56,30.22-384S1505-152.33,1535.22-267.89,967.5-238.27,1145.89-136.33C1155.22-131,1164.11-122,1172.19-111.5Z') auto;
}

@keyframes glass1 {
  0% {
    offset-distance: 0%
  }

  100% {
    offset-distance: 100%;
  }
}

.intro .intro_particles .intro_particle2 {
  position: absolute;
  top: -10%;
  left: 10%;
  width: 500px;
  height: 500px;
  border-radius: 250px;
  backdrop-filter: blur(8px);
  box-shadow: inset 0px 0px 4px #ffffff7a;
  animation: glass2 33s infinite linear;
  offset: path('M-79,263.67c65.33,68,226.67,101.33,316,50.66s248-28,254.67,170.67,144,226.67,230.66,200,109.34-269.33,9.34-296S670.33,154.33,809,178.33,969.12,21,954.33-28.33C938.33-81.67,793-239,562.33-163S107.67-36.33,15.67-113.67-261.67-73.67-197.67,65-79,263.67-79,263.67Z') auto;
}

@keyframes glass2 {
  0% {
    offset-distance: 0%
  }

  100% {
    offset-distance: 100%;
  }
}

.intro .intro_particles .intro_particle3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  backdrop-filter: blur(8px);
  box-shadow: inset 0px 0px 4px #ffffff7a;
  animation: glass3 70s infinite linear;
  offset: path("M1532,923.67c-115.73,18.69-241.33-156-213.33-296s272,50.66,346.66-78.67,28-424-250.66-206.67S564,590.33,474.67,361s341.76-112.93,430.66-22.67c86.67,88,109.34,141.34,169.34,114.67S1324,228.16,1112,190.33C790.67,133-68,631.67,577.33,790.33S1324,537,1044,642.33,594.67,1067.67,949.33,1037s286.67-66.67,577.34-25.33S1746.67,889,1532,923.67Z") auto;
}

@keyframes glass3 {
  0% {
    offset-distance: 0%
  }

  100% {
    offset-distance: 100%;
  }
}

.intro .intro_particles .intro_particle4 {
  position: absolute;
  top: 0;
  left: 10%;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  backdrop-filter: blur(8px);
  box-shadow: inset 0px 0px 4px #ffffff7a;
  animation: glass4 30s infinite linear;
  offset: path("M82.57,388.68c4.55-96.08,148.05-93.28,148.57,2.92C231.86,524.37,180,687.76,136,769c-77.33,142.67-32,228,96,245.33s105.33-110.66,256-224S822.67,857,926.67,981s374.66,102.67,430.66-4S1152,826.33,1152,669s28-302.67-201.33-300-189.34,586.67-352,593.33-148-224-105.34-353.33S80,586.33,81.33,433Q81.54,409.84,82.57,388.68Z") auto;
}

@keyframes glass4 {
  0% {
    offset-distance: 0%
  }

  100% {
    offset-distance: 100%;
  }
}

.intro .intro_particles .intro_particle5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  backdrop-filter: blur(8px);
  box-shadow: inset 0px 0px 4px #ffffff7a;
  animation: glass5 60s infinite linear;
  offset: path("M2056.36,302.67c-62.39,2.57-119.14,36.08-153.92,87.95-51.32,76.55-139.11,133.5-293.11,55.71-261.33-132-464,41.34-664,110.67S624,682.33,392,642.33s-321.33,56-414.67,141.34-158.66,78.66-136,2.66,44-169.33-34.66-210.66S-164,145-44,273,216,925,370.67,849,1092,399.67,825.33,205,384,837,885.33,913s670.67-33.33,784,193.33,320,292,394.67,54.67,38.67-536,264-418.67,116-830.66-86.67-576C2159.8,268.78,2099.42,300.89,2056.36,302.67Z") auto;
}

@keyframes glass5 {
  0% {
    offset-distance: 0%
  }

  100% {
    offset-distance: 100%;
  }
}


.intro .intro_title {
  margin-top: 25vh;
  font-family: 'Gilroy';
  font-weight: 900;
  text-align: center;
}

.intro .intro_title h1 {
  font-size: 240px;
}

.intro .intro_title h2 {
  font-size: 150px;
  letter-spacing: -1px;
}

.intro_sideText {
  position: relative;
  top: 180px;
  width: 100%;
  text-align: center;
}

.intro .intro_sideText button {
  border: none;
  box-shadow: none;
}

.intro_Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  z-index: -1;
}

@keyframes shine {
  0% {
    background-position: 0
  }

  100% {
    background-position: 1520px
  }
}