.other {
  height: 965px;
  font-family: 'Pretendard';
  border: 1px solid #3044f5;
}

#title-other {
  border: 1px solid #FF7DD3;
  font-size: 32px;
  width: 288px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 15px;
  margin-bottom: 12px;
  position: relative;
  font-weight: 500;
}

#title-other::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 16px;
  width: 9px;
  height: 9px;
  background-color: #FF7DD3;
  border-radius: 5px;
}

.other .other_box {
  background-color: #3d40497c;
  backdrop-filter: blur(8px);
  border: 1px solid #5b5b5b;
  border-radius: 50px;
  height: 702px;
  display: flex;
  justify-content: stretch;
}

.other .other_box .other_description {
  width: 500px;
  height: inherit;
  padding-top: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
}

.other .other_box .other_description .other_content_name {
  font-size: 32px;
  font-weight: 700;
}

.other .other_box .other_description span {
  font-size: 18px;
  color: #999;
  display: block;
  margin-bottom: 2rem;
}

.other .other_box .other_description h6 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.other .other_box .other_description .work_detail {
  font-weight: 200;
  margin-bottom: 275px;
  line-height: 24px;
  color: #999;
}

.other .other_box .other_description .other_unit {
  font-weight: 200;
}

.other .other_box .other_image {
  border: 1px solid #86d173;
  width: 870px;
  height: inherit;
  border-radius: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}