/* !!! profile section !!! */
.portfolio2 {
  height: 965px;
  font-family: 'Pretendard';
}

#title-portfolio2 {
  border: 1px solid #49BEFF;
  font-size: 32px;
  width: 253px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 15px;
  margin-bottom: 12px;
  position: relative;
  font-weight: 500;
}

#title-portfolio2::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 16px;
  width: 9px;
  height: 9px;
  background-color: #49BEFF;
  border-radius: 5px;
}

.portfolio {
  display: flex;
}

/* 프로젝트 설명창 */
.portfolio .project_description {
  width: 763px;
  height: 734px;
  background-color: #3d40497c;
  backdrop-filter: blur(8px);
  border: 1px solid #5b5b5b;
  border-radius: 50px;
}

.portfolio .project_description .description_padding {
  padding: 4rem 4.9rem;
}

.portfolio .project_description .overview {
  display: flex;
  align-items: center;
}

.portfolio .project_description .overview img {
  margin-right: 1.8rem;
}

.portfolio .project_description .overview .overview_text h4 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio .project_description .overview .overview_text p {
  font-weight: 200;
  line-height: 19px;
  width: 474px;
}

.portfolio .project_description .description_padding .duration {
  margin-top: 72px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
}

.portfolio .project_description .description_padding .unit {
  margin-bottom: 6.6rem;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
}

.portfolio .project_description .description_padding .original {
  margin-bottom: 6.6rem;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}

.portfolio .project_description .description_padding .original a {
  color: #999999;
  text-decoration: none;
  transition: 0.3s;
}

.portfolio .project_description .description_padding .original a:hover {
  color: #fff;
}

.portfolio .project_description .description_padding .link_proposal,
.portfolio .project_preview .link_project {
  display: flex;
  justify-content: center;
}

.portfolio .project_description .description_padding .linkBtn1 {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 1rem 4rem;
  transition: 0.4s;
}

.portfolio .project_description .description_padding .linkBtn1:hover {
  color: #000;
  background-color: #fff;
  border: none;
}

/* 프로젝트 이미지 창 */
.portfolio .project_preview {
  width: 677px;

}

.portfolio .project_preview .preview_padding {
  padding: 4rem 0;
  overflow: hidden;
  position: relative;
}

.portfolio2 .portfolio .project_preview .preview_padding .project_image {
  width: 676px;
  height: 535px;
  background-image: url(../srcs/img/DaejeonTravel/Mockup대전여행.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -700px 0;
  transition: 1s;
}

.portfolio2:hover .portfolio .project_preview .preview_padding .project_image {
  background-position: 0 0;
}

.portfolio .project_preview .preview_padding .linkBtn2 {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem 4rem;
  transition: 0.4s;
}

.portfolio .project_preview .preview_padding .linkBtn2:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}