.skill {
  height: 965px;
  position: relative;
  overflow: hidden;
  font-family: 'Pretendard';
}

.skillWrap {
  padding: 150px 0;
}

#title-skill {
  border: 1px solid #62FF5F;
  font-size: 32px;
  width: 150px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 15px;
  margin-bottom: 12px;
  position: relative;
  font-weight: 500;
}

#title-skill::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 16px;
  width: 9px;
  height: 9px;
  background-color: #62FF5F;
  border-radius: 5px;
}

/* 여기부터는 메뉴버튼의 영역입니다. */
.skill_tab {
  border: 1px solid #5b5b5b;
  border-radius: 50px;
  background-color: #3d40497c;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  font-family: 'Pretendard';
}

.skill_tab .tab_menus {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.skill_tab .tab_menus .tab_menu_List {
  height: 62px;
  padding: 0 40px;
  position: relative;

}

.skill_tab .tab_menus .tab_menu_List a {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  line-height: 62px;
  margin-left: 20px;
}

.skill_tab .tab_menus .tab_menu_List:nth-child(1):before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30px;
  left: 45px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #FF3F6F;
  border-radius: 5px;
}

.skill_tab .tab_menus .tab_menu_List:nth-child(2):before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30px;
  left: 45px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #7B90FF;
  border-radius: 5px;
}

.skill_tab .tab_menus .tab_menu_List:nth-child(3):before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30px;
  left: 45px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #FFEB35;
  border-radius: 5px;
}

.skill_tab .tab_menus .tab_menu_List:nth-child(4):before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30px;
  left: 45px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #8D33FF;
  border-radius: 5px;
}

.skill_tab .tab_menus .tab_menu_List:nth-child(5):before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30px;
  left: 45px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #FF7F22;
  border-radius: 5px;
}

.skill_tab .tab_menus .tab_menu_List:nth-child(6):before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30px;
  left: 45px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #47BDFF;
  border-radius: 5px;
}

.skill_tab .tab_menus .tab_menu_List:nth-child(7):before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30px;
  left: 45px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #FFE70C;
  border-radius: 5px;
}

.skill_tab .tab_menus .tab_menu_List:nth-child(8):before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30px;
  left: 45px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}

.skill_tab .tab_menus .tab_menu_List.active {
  text-decoration: underline;
  font-weight: 900;
}

.skill_tab .tab_menus .tab_menu_List.active::before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30px;
  left: 45px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ffffff;
}

/* 여기부터는 콘텐츠의 영역입니다. */
.skill_tab .tab_content_wrap {
  display: flex;
  width: 80%;
  padding-right: 20px;
  flex-direction: row;
}

.skill_tab .tab_content_wrap .tab_content {
  opacity: 0;
  width: 100%;
  display: none;
}

.skill_tab .tab_content_wrap .tab_content.active {
  opacity: 100%;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill_tab .tab_content_wrap .tab_content.active .skill_graph {
  margin-right: 70px;
  position: relative;
  display: inline-block;
  transition: 0.3s;
  width: 36%;
  height: 370px;
  border-radius: 300px;
}

.skill_tab .tab_content_wrap .tab_content.active .skill_graph .graph_center {
  background: #373a42;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  height: 270px;
  border-radius: 200px;
  text-align: center;
  line-height: 100px;
  font-size: 44px;
  transform: translate(-50%, -50%);
  line-height: 270px;
}

.skill_tab .tab_content_wrap .tab_content.active .skill_content {
  width: 64%;
}

.skill_tab .tab_content_wrap .tab_content.active .skill_content h5 {
  font-size: 44px;
  font-weight: 700;
  align-items: center;
  margin-bottom: 16px;
}

.skill_tab .tab_content_wrap .tab_content.active .skill_content p {
  line-height: 32px;
  font-weight: 300;
}

/* skill background 영역 */
.skill_particles {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: inherit;
  z-index: -2;
}

.particle {
  width: inherit;
  height: inherit;
}