#triangle_1 {
  display: block;
  position: absolute;
  animation: skill1 30s infinite linear;
  animation-delay: 1s;
  fill: #fff;
}

@keyframes skill1 {
  0% {
    top: 0;
    left: -100px;
  }

  100% {
    top: 800px;
    left: 1920px;
    rotate: 80deg;
    opacity: 0;
  }
}

#triangle_2 {
  display: block;
  position: absolute;
  animation: skill2 45s infinite linear;
  animation-delay: 3s;
  fill: #fff;
}

@keyframes skill2 {
  0% {
    top: 0;
    left: 1920px;
  }

  100% {
    top: 400px;
    left: -100px;
    rotate: 45deg;
    opacity: 0;
  }
}

#triangle_3 {
  display: block;
  position: absolute;
  animation: skill3 40s infinite linear;
  fill: #fff;
}

@keyframes skill3 {
  0% {
    top: 800px;
    left: -100px;
  }

  100% {
    top: 100px;
    left: 1920px;
    rotate: 90deg;
    opacity: 0;
  }
}

#triangle_4 {
  display: block;
  position: absolute;
  animation: skill4 35s infinite linear;
  fill: #fff;
}

@keyframes skill4 {
  0% {
    top: 500px;
    left: -400px;
  }

  100% {
    top: 200px;
    left: 2000px;
    rotate: 364deg;
    opacity: 0;
  }
}

#triangle_5 {
  display: block;
  position: absolute;
  animation: skill5 50s infinite linear;
  fill: #fff;
}

@keyframes skill5 {
  0% {
    top: 200px;
    left: -400px;
  }

  100% {
    top: 700px;
    left: 1920px;
    rotate: 555deg;
    opacity: 0;
  }
}

#triangle_6 {
  display: block;
  position: absolute;
  animation: skill6 55s infinite linear;
  fill: #fff;
}

@keyframes skill6 {
  0% {
    top: 555px;
    left: 2000px;
  }

  100% {
    top: 777px;
    left: -150px;
    rotate: 495deg;
    opacity: 0;
  }
}

#triangle_7 {
  display: block;
  position: absolute;
  animation: skill7 60s infinite linear;
  fill: #fff;
}

@keyframes skill7 {
  0% {
    top: -200px;
    left: 2080px;
  }

  100% {
    top: 600px;
    left: -120px;
    rotate: 642deg;
    opacity: 0;
  }
}

#triangle_8 {
  display: block;
  position: absolute;
  animation: skill8 55s infinite linear;
  fill: #fff;
}

@keyframes skill8 {
  0% {
    top: -200px;
    left: 100px;
  }

  100% {
    top: 100px;
    left: 200px;
    rotate: 948deg;
    opacity: 0;
  }
}

#triangle_9 {
  display: block;
  position: absolute;
  animation: skill9 60s infinite linear;
  animation-delay: 3s;
  fill: #fff;
}

@keyframes skill9 {
  0% {
    top: 100px;
    left: 2080px;
  }

  100% {
    top: 200px;
    left: 1000px;
    rotate: 900deg;
    opacity: 0;
  }
}

#triangle_10 {
  display: block;
  position: absolute;
  animation: skill10 45s infinite linear;
  animation-delay: 2s;
  fill: #fff;
}

@keyframes skill10 {
  0% {
    top: 645px;
    left: 2000px;
  }

  100% {
    top: 19px;
    left: 500px;
    rotate: 1200deg;
    opacity: 0;
  }
}

#triangle_11 {
  display: block;
  position: absolute;
  animation: skill11 90s infinite linear;
  transform: translate(-50%, -50%);
  animation-delay: 3s;
  fill: #fff;
}

@keyframes skill11 {
  0% {
    top: 0px;
    left: 0px;
  }

  100% {
    top: 0px;
    left: 0px;
    rotate: 3600deg;
    opacity: 0;
  }
}

#triangle_12 {
  display: block;
  position: absolute;
  animation: skill12 60s infinite linear;
  animation-delay: 2s;
  fill: #fff;
}

@keyframes skill12 {
  0% {
    top: 500px;
    left: 2100px;
  }

  100% {
    top: 500px;
    left: 500px;
    rotate: 1200deg;
    opacity: 0;
  }
}